<launch>
  <node name="car_node" pkg="car" type="car_node" >
    <param name="cmd_vel_id" type="string" value="/cmd_vel" />
    <param name="pose_topic_id" type="string" value="/vehicle_pose" />
    <param name="child_frame_id" type="string" value="/vehicle" />
    <param name="frame_id" type="string" value="/map" />
  </node>

  <node name="tf_publisher_node" pkg="tf_publisher" type="tf_publisher_node" >
    <param name="global_frame_id" type="string" value="/map" />
    <param name="base_frame_id" type="string" value="/vehicle" />
    <param name="lidar_frame_id" type="string" value="/sensor" />
    <param name="pose_topic_id" type="string" value="/vehicle_pose" />
  </node>

  <include file="$(find sensor)/launch/sensor.launch">
  </include>

  <node type="rviz" name="rviz" pkg="rviz"/>
</launch>
